fastapi
uvicorn
pydantic
pandas
numpy
scikit-learn
xgboost
joblib
opencv-python
pillow
python-multipart
sqlalchemy
psycopg2-binary
python-jose
passlib[bcrypt]
slowapi
requests
python-dotenv
streamlit
PyJWT
gTTS